<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "static/formCss.css" />
</head>
<body>
    {% with msges = get_flashed_messages() %}
    {% if msges %}
        {% for msg in msges %}
        <div style = "background-color: red; color: white;" class="fmsg">{{msg}}</div>
        <br>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <br>
    <form action="/result" method="POST">
        <label for="from">Converting From: </label>
        <input type = "text" for = "from" name = "text-from" placeholder="">
        <br><br>
        <label for="to">Converting To: </label>
        <input type = "text" for = "to" name = "text-to" placeholder="">
        <br><br>
        <label for="amt">Amount: </label>
        <input type = "text" for = "amt" name = "text-amt" placeholder="50">
        <br><br>
        <button>Convert</button>
    </form>
    
</body>
</html>